body{
    font-size: 0.12rem;
    background-color: #F5F5F5;
}
#cities{
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F6;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;

    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black; */
}
header{
    width: 100%;
    height: 1.29rem;
    background-color: #fff;
    padding: 0 0.29rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.search{
    width: 9.03rem;
    height: 0.87rem;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 0.2rem;
    padding-left: 0.2rem;
    outline: none; /* 去掉搜索的外边框 */
}
.btn{
    font-size: 0.42rem;
    color: #7DADFF;
}
.cities_rm{
    width: 100%;
    padding-left:0.29rem ;
}
.cities_rmtype{
    font-size:0.45rem;
    color: #999999;
    margin-top: 0.13rem;
}
.cities_rmdi{
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
}
.cities_rmname{
    width: 2.34rem;
    height: 0.84rem;
    background-color: #fff;
    border: 0.03rem solid #E0E0E0;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    text-align: center;
    line-height: 0.84rem;
    color: #000000;
}
.cities_rmname a{
    color: #000000;
}
.cities_rmname1{
    margin-left: 0.39rem;
}
.cities_rmname2{
    margin-top: 0.42rem;
}
.cities_name{
    font-size:0.45rem;
    color: #999999;
    margin-top: 0.56rem;
}